    @import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,600italic");
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	body
	{
		transition: 0.5s;
	}

	ol, ul 
	{
		list-style: none;
	}

	.logotip4ik
	{	
		position: relative;
		left: 220%;
		width: 250px;
		height: 350px;
	}

	.logotip4ik3
	{
		position: relative;
		left: 115%;
		width: 450px;
		height: 350px;
	}


	/*отступы*/
	.container 
	{
		margin-left: auto;
		margin-right: auto;
	}

	.container.\31 25\25 
	{
		width: 100%;
		max-width: 1750px;
		min-width: 1400px;
	}

	.container.\37 5\25 
	{
		width: 1050px;
	}

	.container.\35 0\25 
	{
		width: 700px;
	}

	.container.\32 5\25 
	{
		width: 350px;
	}

	.container 
	{
		width: 1400px;
	}
	/*отступы*/

	/*код для д3билов (мобилки)*/
	@media screen and (max-width: 1680px) 
	{

		.container.\31 25\25 
		{
			width: 100%;
			max-width: 1500px;
			min-width: 1200px;
		}

		.logotip4ik
		{
			position: relative;
			left: 70%;
		}

		.logotip4ik3
		{
			position: relative;
			left: 35%;
		}

		.container.\37 5\25 
		{
			width: 900px;
		}

		.container.\35 0\25 
		{
			width: 600px;
		}

		.container.\32 5\25 
		{
			width: 300px;
		}

		.container 
		{
			width: 1200px;
		}

	}

	@media screen and (max-width: 1280px) 
	{

		.container.\31 25\25 
		{
			width: 100%;
			max-width: 1200px;
			min-width: 960px;
		}

		.container.\37 5\25 
		{
			width: 720px;
		}

		.container.\35 0\25 
		{
			width: 480px;
		}

		.container.\32 5\25 
		{
			width: 240px;
		}

		.container 
		{
			width: 960px;
		}

		.logotip4ik
		{
			position: relative;
			left: 70%;
		}

		.logotip4ik3
		{
			position: relative;
			left: 35%;
		}

	}

	@media screen and (max-width: 980px) 
	{

		.container.\31 25\25 
		{
			width: 100%;
			max-width: 118.75%;
			min-width: 95%;
		}

		.container.\37 5\25 
		{
			width: 71.25%;
		}

		.container.\35 0\25 
		{
			width: 47.5%;
		}

		.container.\32 5\25 
		{
			width: 23.75%;
		}

		.container 
		{
			width: 95%;
		}

		.logotip4ik
		{
			position: relative;
			left: 70%;
		}

		.logotip4ik3
		{
			position: relative;
			left: 35%;
		}

	}

	@media screen and (max-width: 840px) 
	{

		.container.\31 25\25 
		{
			width: 100%;
			max-width: 118.75%;
			min-width: 95%;
		}

		.container.\37 5\25 
		{
			width: 71.25%;
		}

		.container.\35 0\25 
		{
			width: 47.5%;
		}

		.container.\32 5\25 
		{
			width: 23.75%;
		}

		.container 
		{
			width: 95% !important;
		}

		.logotip4ik
		{
			position: relative;
			left: 70%;
		}

		.logotip4ik3
		{
			position: relative;
			left: 35%;
		}

	}

	@media screen and (max-width: 736px) 
	{

		.container.\31 25\25 
		{
			width: 100%;
			max-width: 112.5%;
			min-width: 90%;
		}

		.container.\37 5\25 
		{
			width: 67.5%;
		}

		.container.\35 0\25 
		{
			width: 45%;
		}

		.container.\32 5\25 
		{
			width: 22.5%;
		}

		.container 
		{
			width: 90% !important;
		}

		.logotip4ik
		{
			position: relative;
			left: 70%;
		}

		.logotip4ik3
		{
			position: relative;
			left: 35%;
		}

	}

	@media screen and (max-width: 480px) 
	{

		.container.\31 25\25 
		{
			width: 100%;
			max-width: 125%;
			min-width: 100%;
		}

		.container.\37 5\25 
		{
			width: 75%;
		}

		.container.\35 0\25 
		{
			width: 50%;
		}

		.container.\32 5\25 
		{
			width: 25%;
		}

		.container 
		{
			width: 100% !important;
		}

		.logotip4ik
		{
			position: relative;
			left: 70%;
		}

		.logotip4ik3
		{
			position: relative;
			left: 35%;
		}
		/*код для д3билов (мобилки) конец*/

	}

	body, input, select, textarea 
	{
		color: #474747;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 16pt;
		font-weight: 300;
		line-height: 1.65em;
	}

	a 
	{
		-moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
		-webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
		-ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
		transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
		color: #37c0fb;
		text-decoration: none;
		border-bottom: dotted 1px;
	}

		a:hover 
		{
			color: #37c0fb;
			border-bottom-color: transparent;
		}

	.image 
	{
		border: 0;
		display: inline-block;
		position: relative;
		border-radius: 5px;
	}

		.image img 
		{
			display: block;
			border-radius: 5px;
		}

		.image.left 
		{
			display: block;
			float: left;
			margin: 0 2em 2em 0;
			position: relative;
			top: 0.25em;
		}

			.image.left img 
			{
				display: block;
				width: 100%;
			}

		.image.fit 
		{
			display: block;
		}

			.image.fit img 
			{
				display: block;
				width: 100%;
			}

		.image.featured 
		{
			display: block;
			margin: 0 0 2em 0;
		}

			.image.featured img 
			{
				display: block;
				width: 100%;
			}

/* контакты */

	.icon 
	{
		text-decoration: none;
		position: relative;
		text-decoration: none;
	}

		.icon:before 
		{
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon .label 
		{
			display: none;
		}

		.icon.major 
		{
			text-align: center;
			cursor: default;
			background-color: #37c0fb;
			background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15));
			background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15));
			background-image: -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15));
			background-image: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15));
			color: #fff;
			border-radius: 100%;
			display: inline-block;
			width: 5em;
			height: 5em;
			line-height: 5em;
			box-shadow: 0 0 0 7px white, 0 0 0 8px #e0e0e0;
			margin: 0 0 2em 0;
		}

			.icon.major:before 
			{
				font-size: 36px;
			}

/* контакты */

/* ну чтобы по красоте было */

	ol.default 
	{
		list-style: decimal;
		padding-left: 1.25em;
	}

		ol.default li 
		{
			padding-left: 0.25em;
		}

	ul.default 
	{
		list-style: disc;
		padding-left: 1em;
	}

		ul.default li 
		{
			padding-left: 0.5em;
		}

	ul.links li 
	{
		line-height: 2.5em;
	}

	ul.icons 
	{
		cursor: default;
	}

		ul.icons li 
		{
			display: inline-block;
			line-height: 1em;
			padding-left: 1.5em;
		}

			ul.icons li:first-child 
			{
				padding-left: 0;
			}

			ul.icons li a, ul.icons li span 
			{
				font-size: 2em;
				border: 0;
			}

	ul.actions 
	{
		cursor: default;
	}

		ul.actions:last-child 
		{
			margin-bottom: 0;
		}

		ul.actions li 
		{
			display: inline-block;
			padding: 0 0 0 1.5em;
		}

			ul.actions li:first-child 
			{
				padding: 0;
			}

		ul.actions.vertical li
		{
			display: block;
			padding: 1.5em 0 0 0;
		}

			ul.actions.vertical li:first-child 
			{
				padding: 0;
			}

	ul.menu li 
	{
		border-left: solid 1px #e0e0e0;
		display: inline-block;
		padding: 0 0 0 1em;
		margin: 0 0 0 1em;
	}

		ul.menu li:first-child 
		{
			border-left: 0;
			margin-left: 0;
			padding-left: 0;
		}
/* ну чтобы по красоте было */

	input[type="button"],
	.button 
	{
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
		background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15));
		background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15));
		background-image: -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15));
		background-image: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15));
		background-color: #37c0fb;
		border-radius: 3px;
		border: 0;
		color: #fff;
		cursor: pointer;
		display: inline-block;
		padding: 0 1.5em;
		line-height: 2.75em;
		min-width: 9em;
		text-align: center;
		text-decoration: none;
		font-weight: 600;
		letter-spacing: -0.025em;
	}

/* центральная*/

	.box.highlight 
	{
		text-align: center;
	}

	.box.post 
	{
		position: relative;
		margin: 0 0 2em 0;
	}

		.box.post:after 
		{
			content: '';
			display: block;
			clear: both;
		}

		.box.post .inner 
		{
			margin-left: calc(30% + 2em);
		}

			.box.post .inner > :last-child 
			{
				margin-bottom: 0;
			}

		.box.post .image 
		{
			width: 30%;
			margin: 0;
		}

/* шапка */

	#header 
	{
		text-align: center;
		padding: 0em 0 0 0;
		background-color: #fff;
		background-position: top left, top left, top left;
		background-size: 100% 6em, 100% 6em, auto;
		background-repeat: no-repeat, no-repeat, repeat;
	}

		#header h1 
		{
			padding: 0 0 2.75em 0;
			margin: 0;
		}

			#header h1 a 
			{
				font-size: 1.5em;
				letter-spacing: -0.025em;
				border: 0;
			}
/* шапка */

	#nav /*черное меню*/
	{
		cursor: default;
		background-color: #333;
		background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.3));
		background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.3));
		background-image: -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.3));
		background-image: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.3));
		padding: 0;
	}

			#nav  ul  li /*горизонт меню*/
			{
				position: relative;
				display: inline-block;
				margin-left: 1em;
			}

				#nav ul li a 
				{
					color: white;
					text-decoration: none;
					border: 0;
					display: block;
					padding: 0.5em 0em 0.5em 0.5em;
				}

				#nav ul li:hover a 
				{
					color: gold;
				}
	#banner 
	{
		background-position: center center;
		background-size: cover;
		height: 20em;
		text-align: center;
		position: relative;
	}

		#banner header 
		{
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			background: #212121;
			background: rgba(27, 27, 27, 0.75);
			color: #fff;
			padding: 1.5em 0;
		}

			#banner header h2 
			{
				display: inline-block;
				margin: 0;
				font-size: 1.25em;
				vertical-align: middle;
			}

				#banner header h2 em 
				{
					opacity: 0.75;
				}

				#banner header h2 a 
				{
					border-bottom-color: rgba(255, 255, 255, 0.5);
				}

					#banner header h2 a:hover 
					{
						border-bottom-color: transparent;
					}

			#banner header .button 
			{
				vertical-align: middle;
				margin-left: 1em;
			}

/* реклама*/

	.wrapper 
	{
		padding: 4em 0em 3em 0em;
	}

		.wrapper.style1 
		{
			background: white;
		}

		.wrapper.style2 
		{	
			background-color: #fff;
			background-position: top left, bottom left, top left;
			background-size: 100% 6em, 100% 6em, auto;
			background-repeat: no-repeat, no-repeat, repeat;
		}

		.wrapper.style3 
		{
			background-color: gold;
			background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15));
			background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15));
			background-image: -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15));
			background-image: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15));
			color: #fff;
		}

			.wrapper.style3 .button 
			{
				background: white;
				color: #474747;
			}

				.wrapper.style3 .button:hover /*заказать*/
				{
					color: red !important;
				}
/* реклама*/

/* реклама центр */

	#cta 
	{
		text-align: center;
		padding: 1em 0;
	}

		#cta header h2 
		{
			display: inline-block;
			vertical-align: middle;
			margin: 0;
		}

		#cta header .button 
		{
			vertical-align: middle;
			margin-left: 1em;
		}
/* реклама центр */

/* контакты по красоте */

	#footer 
	{
		padding: 4em 0 8em 0;
		background: rgba(27, 27, 27, 0.75);
		background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15));
		background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15));
		background-image: -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15));
		background-image: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15));
	}

		#footer a 
		{
			color: white;
			border-bottom-color: rgba(71, 71, 71, 0.25);
		}

			#footer a:hover 
			{
				color: gold;
				border-bottom-color: transparent;
			}

		#footer .container 
		{
			margin-bottom: 4em;
		}

		#footer .icons 
		{
			text-align: center;
			margin: 0;
		}

			#footer .icons a 
			{
				color: #999;
			}

				#footer .icons a:hover 
				{
					color: #474747;
				}

		#footer .copyright 
		{
			color: #999;
			margin-top: 1.5em;
			text-align: center;
			font-size: 0.9em;
		}
/* контакты по красоте */

	@media screen and (max-width: 1680px) 
	{

			body, input, select, textarea 
			{
				font-size: 14pt;
				line-height: 1.5em;
			}

			#banner 
			{
				height: 24em;
			}

			.logotip4ik
			{
				position: relative;
				left: 180%;
			}

			.logotip4ik3
			{
				position: relative;
				left: 90%;
			}

	}

	@media screen and (max-width: 1280px) 
	{

			body, input, select, textarea 
			{
				font-size: 13pt;
				line-height: 1.5em;
			}

			ol.default 
			{
				list-style: decimal;
				padding-left: 1.25em;
			}

				ol.default li 
				{
					padding-left: 0.25em;
				}

			ul.icons li a, ul.icons li span 
			{
				font-size: 1.5em;
			}

			#header 
			{
				padding: 0em 0 0 0;
			}

				#header h1 
				{
					padding: 0 0 1.75em 0;
				}

			#banner 
			{
				height: 20em;
			}

			.wrapper 
			{
				padding: 3em 0 1em 0;
			}

			#cta
			{
				padding: 2em 0;
			}

			#footer 
			{
				padding: 3em 0 3em 0;
			}

				#footer .container 
				{
					margin-bottom: 1em;
				}

		.logotip4ik
		{
			position: relative;
			left: 80%;
		}

		.logotip4ik3
		{
			position: relative;
			left: 30%;
		}
	}

	@media screen and (max-width: 980px) 
	{
			body, input, select, textarea 
			{
				font-size: 12pt;
				line-height: 1.5em;
			}

	}

	#navPanel, #titleBar 
	{
		display: none;
	}

	@media screen and (max-width: 840px) 
	{
			html, body 
			{
				overflow-x: hidden;
			}

			body, input, select, textarea 
			{
				font-size: 13pt;
			}

			h1, h2, h3, h4, h5, h6 
			{
				margin-bottom: 0.5em;
			}

			header p 
			{
				margin-top: -0.75em;
			}

			header.major 
			{
				text-align: center;
				margin: 0 0 2em 0;
			}

				header.major h2 
				{
					font-size: 1.75em;
				}

				header.major p 
				{
					top: -0.25em;
					font-size: 1.25em;
				}

			.box.highlight 
			{
				text-align: left;
				position: relative;
				padding-left: 7em;
			}

				.box.highlight i 
				{
					position: absolute;
					margin: 0;
					left: 0;
					top: 0.25em;
				}

			.box.post .inner 
			{
				margin-left: calc(20% + 2em);
			}

			.box.post .image 
			{
				width: 20%;
			}

			#header 
			{
				display: none;
			}

			#banner 
			{
				height: 20em;
			}

				#banner header h2 
				{
					display: block;
				}

				#banner header .button 
				{
					margin: 1em 0 0 0;
				}

			#cta 
			{
				padding: 1.5em 0;
			}

				#cta header h2 
				{
					display: block;
				}

				#cta header .button 
				{
					margin: 1em 0 0 0;
				}

			#footer 
			{
				text-align: center;
			}

				#footer .container 
				{
					margin-bottom: 4em;
				}
	}

	@media screen and (max-width: 480px) 
	{
			ul.actions li 
			{
				display: block;
				padding: 1.5em 0 0 0;
			}

				ul.actions li:first-child 
				{
					padding: 0;
				}

			.icon.major 
			{
				width: 4em;
				height: 4em;
				line-height: 4em;
				box-shadow: 0 0 0 7px white, 0 0 0 8px #e0e0e0;
			}

				.icon.major:before 
				{
					font-size: 24px;
				}
		
	
	}

	@media screen and (max-width: 500px)
	{

		.logotip4ik
		{
			width: 250px;
			height: 350px;
			position: relative;
			left: -15%;
		}

		.logotip4ik3
		{
			width: 350px;
			height: 250px;
			position: relative;
			left: -32%;
		}
	}

		@media screen and (max-width: 950px)
	{

		.logotip4ik
		{
			position: relative;
			left: -5%;
		}

		.logotip4ik3
		{
			position: relative;
			width: 250px;
			height: 200px;
			left: -10%;
		}
	}
	
			@media screen and (max-width: 800px)
	{

		.logotip4ik
		{
			position: relative;
			left: 40%;
		}

		.logotip4ik3
		{
			position: relative;
			width: 350px;
			height: 300px;
			left: 20%;
		}
	}